<h2>Comments</h2>

<% @post.comments.each do |c| %>
  <p>
    <strong><%= comment.name %>:</strong>
  </p>
  <p>
    <%= comment.comment %>
  </p>
  <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
<% end %>