<div class="container banner">

  <div class="banner-logo">
    <i class="fas fa-mug-hot fa-10x"></i>
  </div>

  <img src="http://static1.squarespace.com/static/550a089fe4b0aa7b05658388/55529cfbe4b0a95eac5e0109/5869e95ab8a79bf46aebab31/1483336639323/coffee.jpg?format=1500w">
  
  </div>