/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_bootstrap
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.

.flex-container,
.container,
#navbar {
  justify-content: center;
  text-align: center;
}
// .container1 {
//   text-align: right;
// }

#navbar {
  background-color: #000000;
}

h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
}

.navbarNav {
  color: white;
  padding: 15px 20px 15px 20px;
  text-align: left;
}

.navbarAnchor {
  color: white;
  padding: 15px 20px 15px 20px;
}

.navbarAnchor:hover {
  color: red;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
}
